@media screen and (max-width:600px) {
    /* ***** first section start here***** */
    .firstsection {
        height: 520px;
    }

    .firstsection-leftdiv {
        width: 60%;
    } 

    .firstsection-rightdiv {
        width: 40%;
    }

    .heading {
        font-size: 25px;
    }

    .line {
        width: 200px;
    }
    
    p {
        font-size: 16px;
    }

    .link-holder{
        flex-direction: column;
        padding-left: 40px;
    }
   
    .link-holder h4 {
        margin-bottom: 20px;
    }
    /* ***** first section ends here***** */


    /* ***** Second section start here***** */
    .secondsection-rightdiv{
        margin-left: 0;
        margin-top: 30px; 
    }
    /* ***** Second section ends here***** */

    /* ***** Third section start here***** */
    .thirdsection{
        background: var(--gray-color);
        flex-direction: column-reverse;
        align-items: center;
    }

    .thirdsection-leftdiv{
        margin-top: 30px;
    }
    /* ***** Third section ends here***** */

    /* ***** footer section start here***** */
   
    .footer{
        flex-direction: column;
        text-align: center;
        padding: 20px 30px;
    }

    .footer-iconcontainer{
        margin: 15px 0;
    }
    /* ***** footer section ends here***** */


}