*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}
.firstsection{
    display: flex;
    height: 460px;
}

.firstsection-leftdiv{
    height: 100%;
    width: 50%;
    padding: 20px;
}

.firstsection-leftdiv p{
    margin-bottom: 25px;
}

.firstsection-rightdiv{
    height: 100%;
    width: 50%;
    background: var(--linear-gradient), url("./img/image1.jpeg");
    background-size: cover;
    background-position: bottom left; 
}

.link-holder{
    border: 3px solid blue;
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px 0;
}

span{
    color: var(--main-color);
}

.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
}

.logotext{
    margin-bottom: 20px;
}

.heading{
    margin-bottom: 20px;
}