/* ***** Common Fix Start here***** */
*{
    margin: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

body{
    font-family: "Inter", sans-serif;
}
.firstsection{
    display: flex;
    height: 460px;
}

/* ***** Common Fix ends here***** */

/* ***** first section start here***** */
.firstsection-leftdiv{
    height: 100%;
    width: 50%;
    padding: 20px;
}

.firstsection-leftdiv p{
    margin-bottom: 25px;
}

.firstsection-rightdiv{
    height: 100%;
    width: 50%;
    background: var(--linear-gradient), url("./img/image1.jpeg");
    background-size: cover;
    background-position: bottom left; 
}

.link-holder{
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px 0;
}

span{
    color: var(--main-color);
}

.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
}

.logotext{
    margin-bottom: 20px;
}

.heading{
    margin-bottom: 20px;
}

/* ***** first section ends here***** */

/* ***** Second section start here***** */
.secondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}


.secondsection-leftdiv{
    width: 310px;
    height: 400px;
    background: var(--gray-color);
}

.secondsection-rightdiv{
    height: 460px;
    width: 340px;
    margin-left: 20px;
}
/* ***** Second section ends here***** */
