/* ***** Common Fix Start here***** */
*{
    margin: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

body{
    font-family: "Inter", sans-serif;
}

/* ***** Common Fix ends here***** */

/* ***** first section start here***** */
.firstsection{
    display: flex;
    height: 460px;
    max-width: 1500px;
    margin: 0 auto;
}
.firstsection-leftdiv{
    height: 100%;
    width: 50%;
    padding: 20px;
}

.firstsection-leftdiv p{
    margin-bottom: 25px;
}

.firstsection-rightdiv{
    height: 100%;
    width: 50%;
    background: var(--linear-gradient), url("./img/image1.jpeg");
    background-size: cover;
    background-position: bottom left; 
}

.link-holder{
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px 0;
}

span{
    color: var(--main-color);
}

.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
}

.logotext{
    margin-bottom: 20px;
}

.heading{
    margin-bottom: 20px;
}

/* ***** first section ends here***** */

/* ***** Second section start here***** */
.secondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}


.secondsection-leftdiv{
    width: 310px;
    height: 400px;
    background: var(--gray-color);
    padding: 40px 25px;
}

.secondsection-leftdiv p{
    margin: 10px 0;
}

.secondsection-rightdiv{
    height: 460px;
    width: 340px;
    margin-left: 20px;
}
/* ***** Second section ends here***** */

/* ***** Third section start here***** */
.thirdsection{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.thirdsection-leftdiv,
.thirdsection-rightdiv{
    width: 350px;
    height: 460px;
}

.thirdsection-leftdiv{
    background: url("./img/image3.jpeg");
    background-size: cover;
}

.thirdsection-rightdiv{
    background: var(--main-color);
    padding: 30px 25px;
}

.thirdsection-rightdiv p{
    margin: 10px 0;
}
/* ***** Third section ends here***** */

/* ***** footer section start here***** */
.footer{
    background: var(--main-color);
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    max-width: 1500px;
    margin: 0 auto;
}

.fotericon{
    margin: 0 5px;
}
/* ***** footer section ends here***** */

